[project]
	description = Source for the P8 and Centaur SBE images.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cklokma
[access "refs/for/refs/*"]
	read = group user/cklokma
	push = group user/cklokma
	label-Code-Review = -2..+2 group user/cklokma
	label-Verified = -1..+1 group user/cklokma
	rebase = group user/cklokma
	removeReviewer = group user/cklokma
	submit = group user/cklokma
[access "refs/heads/*"]
	read = group user/cklokma
	create = group user/cklokma
	push = +force group user/cklokma
	pushMerge = group user/cklokma
[access "refs/tags/*"]
	push = +force group user/cklokma
	pushTag = group user/cklokma
	pushSignedTag = group user/cklokma
